body {
  font-family:'Times New Roman', Times, serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #343a40;
  padding: 10px 0;
}

.navbar .navbar-brand, .navbar .nav-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar .nav-link:hover {
  color: #f8f9fa;
  text-decoration: underline;
}

.container {
  padding-top: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
  transition: background-color 0.2s, transform 0.2s;
}

.btn-dark:hover {
  background-color: #495057;
  transform: translateY(-2px);
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #343a40;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}
